@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.backdrop{
  background: conic-gradient(from 270deg at 50.00% 50.00%, rgba(0, 0, 0, 0.00) 2.3409034498035908deg, rgba(84, 192, 160, 0.10) 2.5281363911926746deg, rgba(0, 0, 0, 0.00) 181.31576299667358deg, rgba(84, 192, 160, 0.00) 256.43158435821533deg, #54C0A0 359.23537731170654deg);
}